@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#title {
    position: absolute;
    font-size: 2.5em;
    top: 2.55%;
    vertical-align: top;
    font-weight: bold;
    text-align: center;
}

#message {
    position: absolute;
    padding: 10%;
    font-size: 4em;
    text-align: center;
    word-break: normal;
    align-self: center;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.dummy {
    display: flex;
    align-content: center;
    justify-content: center;
}

#buttons {
    width: 50%;
    min-width: 50vh;
    margin-top: 1%;
    display: flex;
    position: absolute;
    justify-content: stretch;
    flex-wrap: wrap;
}

#buttons > div {
    width: 100%;
    margin: 1%;
    height: 100%;
    padding: 2.5%;
    min-width: 25vh;
    flex: 1;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.25s ease;
}

#ai-button {
    background-color: green;
}

#ai-button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#real-button {
    background-color: red;
}

#real-button:hover {
    background-color: darkred;
    cursor: pointer;
}

#info {
    position: absolute;
    vertical-align: bottom;
    bottom: 2.5%;
    width: 100%;
    font-size: small;
    text-align: center;
}

.result {
    position: absolute;
    width: 35vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 7vh;
    color: white;
    z-index: 1;
    border-radius: 25px;
    padding: 5vh;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center;
    transform: scale(0);
}

#result-correct {
    background-color: darkgreen;
}

#result-incorrect {
    background-color: darkred;
}

.result > i {
    font-size: 3em;
}


#streak-correct {
    font-style: italic;
    font-size: 0.5em;
}

#streak-incorrect {
    font-style: italic;
    font-size: 0.3em;
}

#try-again {
    font-size: 0.4em;
    position: relative;
    background: darkslategray;
    border-radius: 25px;
    width: 65%;
    margin-left: auto;
    padding: 7px;
    margin-right: auto;
    margin-top: 15px;
    font-weight: bold;
}

#try-again:hover {
    background-color: black;
    cursor: pointer;
}

#displayMessage > img {
    height: 1em;
    vertical-align: bottom;
}